body
{
    background-color: yellowgreen;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: wheat;
    color: rgb(240, 255, 246);
}
#show_sketch
{
    float: right;
}
#Score
{
    font-size: 30px;
    margin-left: 5px;
}
#Timer
{
    font-size: 30px;
    float: right;
    margin-right: 5px;
}
#Model_sketch
{
    color: blue;
    font-size: 20;
}
